.aside {
  padding: 30px;
}
.aside ul li,
button {
  font-size: 17px;
  font-weight: 600;
  margin-bottom: 12px;
  transition: all 0.3s;
}

.aside ul li:hover,
button:hover {
  color: #ff0000;
}

.aside ul li:active,
button:active {
  transform: scale(0.95);
}

/* Profile  */
.btn {
  border: 2px solid #ff6363;
  padding: 8px 10px;
  border-radius: 5px;
}
.profile-img{
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
}
