.navbar-nav ul li {
  margin: 10px;
  padding: 8px 5px;
}

.navbar {
  position: relative;
}

.sm-drop-down {
  border: 1px solid #ccc;
  background-color: #fffffff8;
  box-shadow: 0px 5px 10px 0px #ccc;
  width: 170px;
  padding: 20px;
  border-radius: 5px;
  position: absolute;
  top: 95%;
  right: 0;
  display: none;
  text-align: center;
}

.actives {
  display: block !important;
}

.sm-drop-down ul li {
  margin: 5px;
}

.lg-drop-down {
  border: 1px solid #ccc;
  box-shadow: 0px 5px 10px 0px #ccc;
  width: 170px;
  padding: 20px;
  border-radius: 5px;
  position: absolute;
  top: 95%;
  right: 0.5rem;
  display: none;
  text-align: center;
}
.lg-drop-down ul li {
  margin: 5px;
}

.bd {
  font-size: 10px;
  margin-top: -6px;
}

@media (max-width: 576px) {
}
.nav-profile-img{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}
